/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet. You don't have to edit this line.*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");




body {
  background-color: #eae2b7;
  
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 400px
  color: #003232
}

header {

  text-align:center;
  
}






/* Set the font family for any h1, h2, or h3 heading */
h1 {
  font-family: "Playfair Display", Times, serif;
  text-align: center;
  color: #003232
}
h2 {
  font-family: "Playfair Display", Times, serif;
text-align: center;
  color: #003232
}
h3 {
  font-family: "Playfair Display", Times, serif; 
  size= 40px; text-align: center;
  color: #003232
 
}
h5 {
  font-family: "Playfair Display", Times, serif; 
  text-align: center;
  color: #003232
}
nav{
  text-align: center;

}


   a:link { color:#d62828 }
   a:visited { color:#d62828 }
   a:hover { color:#f77f00 }
  
   
   
  


article {

  padding: 50px 0;
}

article div {
 
   width: 100%;
}

p {
     
  line-height: 1.5;
}

/* The div container constrains the content width within the main container to 600px */
div {
    
  margin: auto;
  width: 600px;
}

img {
  width: 100%;
  max-width: 200px;
  height: auto;
  
}

hr {
  border: 1px solid black;
}

/* Add your solution below */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.image-circle{
  border: 2px solid #003049;
  border-radius: 50% 

}
.image-circle { 
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }


    footer {
      text-align: center
    }
